.box {
    position: fixed;
    /* Закрепляем элемент относительно окна */
    top: 0;
    /* Располагаем его вверху */
    left: 0;
    /* Располагаем его слева */
    width: 100%;
    /* Ширина будет на всю ширину экрана */
    background-color: white;
    /* Добавим фон, чтобы не было видно, что под элементом есть контент */
    z-index: 1000;
    /* Чтобы элемент был поверх других */
    padding: 10px;
    /* Отступы для визуального комфорта */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Тень для выделения */
}

#name {
    position: relative;
    left: 20px;
}